JavaTaskWebClientApp/web/WEB-INF/wsdl/localhost_8080/JavaTaskWebSevice/StringAnalysis.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://java_web_services.t_task.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://java_web_services.t_task.ru/">

<xs:element name="stringProcessing" type="tns:stringProcessing"/>

<xs:element name="stringProcessingResponse" type="tns:stringProcessingResponse"/>

<xs:complexType name="stringProcessing">
<xs:sequence>
<xs:element name="text1" type="xs:string" minOccurs="0"/>
<xs:element name="text2" type="xs:string" minOccurs="0"/>
<xs:element name="text3" type="xs:string" minOccurs="0"/>
<xs:element name="text4" type="xs:string" minOccurs="0"/>
<xs:element name="text5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stringProcessingResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemWord" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemWord">
<xs:sequence>
<xs:element name="textBlockCount" type="xs:int"/>
<xs:element name="textBlockNumb" type="xs:string" minOccurs="0"/>
<xs:element name="word" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>